html,body{
    weight:100px;
    height: 100px;
    margin:0%;
    padding:0%;
    background-color: ivory;

}
.outer-box{
    grid-template-rows: 1fr 5fr;
}
.Idea{
    display:flex;
    justify-content: center;
    color:green
}
.Sub-Idea{display:flex;
    justify-content: center;
    color:green

}
.blank{display:grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.links{display:grid;
    align-items:center;
    grid-template-rows:1fr 1fr;
}
.customer{display:grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.special{display:grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.buy{display:flex;
    align-items:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px
}
.books{display:grid;
    grid-template-rows: 1fr 1fr;
}
.picks{display:grid;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px

}
.place-bear{display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
a:link {
    color: green;
  }
  
  a:visited {
    color:maroon;
  }
  
  a:hover {
    color:mediumaquamarine;
  }
  